<p id="notice"><%= notice %></p>

<p>
  <strong>Subdomain:</strong>
  <%= @store.subdomain %>
</p>
<p>
  <%= link_to "Store website", "http://#{@store.subdomain}.lvh.me:3000", :target => "_blank" %>
</p>





<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
